.details-content{
    margin-top: 80px;
    position: absolute;
    top: 536px;
    z-index: 1;
}
#skill-details h3{
    color: #2C2C2C;
}
#skill-details p{
    text-align: justify;
    color: #797A7C;
    line-height: 30px;
}
.details-bg{
    position: relative;
}

